/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0; /* Example background color */
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the navigation menu */
}

nav li {
    display: inline-block; /* Arrange navigation items horizontally */
    margin: 0 1rem; 
}

nav a {
    text-decoration: none;
    color: #333; /* Example color */
}

/* Portfolio section styles */
#portfolio {
    padding: 2rem;
}

h2, p {
    padding: 1rem;
    text-align: center; /* Center the footer content */
}

/* Footer styles */
footer {
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
    padding: 1rem;
    text-align: center; /* Center the footer content */
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #fff; /* Example color */
}

/* Estilo para el botón de subir */
.scroll-up-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background-color: #2bc7f7;
    border: none;
    color: #145214;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-up-btn:hover {
    background-color: #00e000;
  }
  
